body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

#DP {
    width: 550px;
    height: 400< !DOCTYPE html> <html lang=""> <head> <meta charset="utf-8"> <meta name="viewport"content="width=device-width, initial-scale=1.0"> <title></title> </head> <body> </body> </html> <meta name="viewport"content="width=device-width, initial-scale=1.0"><link rel="stylesheet"href=""><style></style><script src=""></script><script></script>< !DOCTYPE html> <html lang=""> <head> <meta charset="utf-8"> <meta name="viewport"content="width=device-width, initial-scale=1.0"> <title></title> <link rel="stylesheet"href=""> </head> <body> <script src=""></script> </body> </html> <img alt=""width="0"height="0"src="">< !DOCTYPE html> <html lang=""> <head> <meta charset="utf-8"> <meta name="viewport"content="width=device-width, initial-scale=1.0"> <title></title> <link rel="stylesheet"href=""> </head> <body> <script src=""></script> </body> </html> px;
    margin-bottom: 50px;
    border-radius: 15%;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#9b41e0 0%, #621e96 100%);
    display: table;
    text-align: center;
    height: 100%;
    width: 100%
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: inherit;
}

.menu {
    list-style: none;
    font-family: cursive;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

.links {
    float: left;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: sans-serif;
    font-size: 20px;
}

.links:hover {
    background-color: aliceblue;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.article:hover {
    color: fuchsia;
}
